#/Tests/*
/QGIS/*
/Cuttinz/*

*.pyc
.Rproj.user
.RData
.RHistory
*.Rproj
.sync/*
/ViewShedJava/SimpleViewShed/build/
/ViewShedJava/SimpleViewShed/nbproject/private/
/ViewShedJava/SimpleViewShed/data/temp/
/ViewShedJava/SimpleViewShed/dist/
/ViewShedJava/SimpleViewShed/data_centroids1
/ViewShedJava/SimpleViewShed/data_centroids2
/ViewShedJava/distanceMatrix/nbproject/private/