#/Tests/*
/QGIS/*
/Cuttinz/*

*.pyc
.Rproj.user
.RData
.RHistory
*.Rproj
/ViewShedJava/SimpleViewShed/build/
/ViewShedJava/SimpleViewShed/nbproject/private/
/ViewShedJava/SimpleViewShed/data/temp/
/ViewShedJava/SimpleViewShed/dist/
/ViewShedJava/distanceMatrix/nbproject/private/